{% extends "templates/base.html" %}
<!DOCTYPE html>
<html>
  <head>
    <link href="./style.css" type="text/css" rel="stylesheet">
    <title>Website</title>
  </head>
  <body>
    <div class="topnav login_signup">
      <a href="./login.html">Login</a>
      <a href="./signup.html">Sign Up</a>
    </div>
    <!--Navbar-->
    <div class="topnav">
      <a class="active" href="./wiki.html">Wiki</a>
      <a href="#news">News</a>
      <a href="#contact">Contact</a>
      <a href="#about">About</a>
    </div>
  </body>
</html>
