<!DOCTYPE html>
<html>
  <head>
    <link href="./style.css" type="text/css" rel="stylesheet">
    <title>Games Section</title>
  </head>
  <body>
    <div class="topnav login_signup">
      <a href="./login.html">Login</a>
      <a href="./signup.html">Sign Up</a>
    </div>
    <!--Navbar-->
    <div class="topnav">
      <a class="active" href="./wiki.html">Wiki</a>
      <a href="./hacking.html">Hacking</a>
      <a href="./games.html">Games</a>
      <a href="./about.html">About</a>
    </div>
    <h3 style='text-align:center;'>Here you'll see the games you can play with and their description.</h3>
    <p style='text-align:center;'>Use the search bar to find a specific game.</p>
    <input type='text' placeholder="Search..." class='search-box'>
    <!--This divider will serve for game boxes-->
    <div class='game-box'>

      <div class='desc-box'>
        <p>Description : </p>
        <p>Controls : </p>
        <p>Size : </p>
      </div>
    </div>
  </body>
</html>
