<!DOCTYPE html>
<html>
  <head>
    <link href="./style.css" type="text/css" rel="stylesheet">
    <title>Games Section</title>
  </head>
  <body>
    <div class="topnav login_signup">
      <a href="./login.html">Login</a>
      <a href="./signup.html">Sign Up</a>
    </div>
    <!--Navbar-->
    <div class="topnav">
      <a class="active" href="./wiki.html">Wiki</a>
      <a href="./hacking.html">Hacking</a>
      <a href="./games.html">Games</a>
      <a href="./about.html">About</a>
    </div>
    <!--Make a description of the game page-->
    <h2> </h2>
    <!--This divider will serve for game boxes-->
    <div>

    </div>
  </body>
</html>
