<!DOCTYPE html>
<html>
  <head>
    <link href="./style.css" type="text/css" rel="stylesheet">
    <title>Welcome on the Website</title>
  </head>
  <body>
    <div class="topnav">
      <a class="active" href="./wiki.html">Wiki</a>
      <a href="#hacking">Hacking</a>
      <a href="#games">Games</a>
      <a href="#about">About</a>
      <a class="return" href="./index.html">Return</a>
    </div>
    <div class='boxed-form'>
      <h2 style='text-align: center'>Welcome on the registration page</h1>
      <p style='text-align: center'>Please enter the required credentials.</p>
      <p style='text-align: center'>If you already have an account, click <a href='./login.html'>here</a></p>
      <form>
        <p>Username :</p>
        <input type='text'>
        <p>Email :</p>
        <input type='text'>
        <p>Password :</p>
        <input type='text'>
        <p>Password :</p>
        <input type='text'>
      </form>
    </div>



  </body>
</html>
